<div id="<%= dom_id topic %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= topic.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= topic.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is private:</strong>
    <%= topic.is_private %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= topic.user_id %>
  </p>

</div>
